/*// change the theme*/
/*$theme-colors: (*/
/*"primary": #0074d9,*/
/*"danger": #ff4136*/
***REMOVED*****REMOVED****/

/*// Import Bootstrap and its default variables*/
/*@import '~bootstrap/scss/bootstrap.scss';*/

body {
  margin: 0;

  font-family: Chirp, Verdana, System, monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #000000;

  color: white;
  white-space: inherit;
}

.btn-nav {
  color: #bf1d1d;
}

/*.btn-nav:hover {*/
/*  color: #fff;*/
/*  background-color: #17a2b8;*/
/*  border-color: #17a2b8;*/
/*}*/

.btn-nav > img {
  height: 1.95rem;
}

.text-info {
  color: rgb(198, 198, 198***REMOVED***
}

.btn-primary {
  background-color: rgb(29, 161, 242***REMOVED***
  border-radius: 9999px;
  font-weight: bold;
}
